/* the style here follows graydon/rust-www */

#active-code {
  position: relative;
  display: block;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.01);
  border: 2px solid #CCC;
  margin-bottom: 16px;
}

#editor {
  padding: none;
  margin: none;
  width: 100%;
  min-height: 72px;
  font-family: Menlo, Monaco, Consolas, monospace;
  white-space: pre-wrap;
}

#result {
  color: #333;
  background-color: #E2EEF6;
  margin-top: 10px;
  padding: 10px;
  display: none;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, monospace;
  white-space: pre-wrap;
}

#reset-code {
  position: absolute;
  z-index: 10;
  float: right;
  right: 8px;
  top: 50px;
  outline: none;
}

#run-code {
  position: absolute;
  z-index: 10;
  float: right;
  right: 8px;
  top: 8px;
  outline: none;
}

.ace_editor {
  font-size: 80% !important;
}

.ace-error-text, .ace-error-line, .ace-warning-text, .ace-warning-line {
  position: absolute;
}

.ace-error-text {
  background-color: #e9abab;
}

.ace-error-line {
  background-color: #F6E2E2;
}

.ace-warning-text {
  background-color: #FFEF00;
}

.ace-warning-line {
  background-color: #FFFBCB;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  border-radius: 4px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-primary:active {
  background-image: none;
}

/* rustc output. bright versions of red, yellow, green, cyan and magenta are used, but black, blue and gray could theoretically be added with dim versions of them. */
.rustc-output {
    white-space: pre-wrap;
    background-color: #E2EEF6;
    padding-bottom: 1em;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
}

.rustc-errors {
    background-color: #F6E2E2;
}

.rustc-warnings {
    background-color: #FFFBCB;
}

a.linejump {
    cursor: pointer;
    color: #97248D;
    border-bottom: thin #97248D dotted;
}

.ace_dark .rustc-output {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.rustc-output:last-child {
    border-bottom: none;
    padding-bottom: none;
}

.ansi-red     { color: #a00; }
.ansi-green   { color: #0a0; }
.ansi-yellow  { color: #980; }
.ansi-magenta { color: #a0a; }
.ansi-cyan    { color: #096; }
.ace_dark .ansi-red     { color: #f55; }
.ace_dark .ansi-green   { color: #5f5; }
.ace_dark .ansi-yellow  { color: #ff5; }
.ace_dark .ansi-magenta { color: #f5f; }
.ace_dark .ansi-cyan    { color: #5ff; }
