/* the style here follows graydon/rust-www */

.active-code {
    position: relative;
    display: block;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.01);
    border: 2px solid #CCC;
    margin-bottom: 16px;
}

.editor {
    padding: none;
    margin: none;
    width: 100%;
    min-height: 72px;
    font-family: Menlo, Monaco, Consolas, monospace;
    white-space: pre-wrap;
}

.result {
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 10px;
    padding: 10px;
    display: none;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, monospace;
    white-space: pre-wrap;
}

.reset-code {
    top: 50px;
}

.run-code {
    top: 8px;
}

.ace_editor {
    font-size: 80% !important;
}

.ace-error-text, .ace-warning-text, .ace-hover-text {
    position: absolute;
}

.ace-error-text {
    background-color: #E9ABAB;
}

.ace-warning-text {
    background-color: #FFEF00;
}

.ace-hover-text {
    filter: hue-rotate(90deg);
}

.btn {
    position: absolute;
    z-index: 10;
    float: right;
    right: 8px;
    outline: none;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    border-radius: 4px;
}

.btn:hover, .btn:focus, .btn:active {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.btn:active {
    background-image: none;
}


/* rustc output. bright versions of red, yellow, green, cyan and magenta are used, but black, blue and gray could theoretically be added with dim versions of them. */

.rustc-output {
    white-space: pre-wrap;
    background-color: #E2EEF6;
    padding-bottom: 1em;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
}

.rustc-errors {
    background-color: #F6E2E2;
}

.rustc-warnings {
    background-color: #FFFBCB;
}

a.linejump {
    cursor: pointer;
    color: #97248D;
    border-bottom: thin #97248D dotted;
}

.ace_dark .rustc-output {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.rustc-output:last-child {
    border-bottom: none;
    padding-bottom: none;
}

.ansi-blue    { color: #00a; }
.ansi-red     { color: #a00; }
.ansi-green   { color: #0a0; }
.ansi-yellow  { color: #980; }
.ansi-magenta { color: #a0a; }
.ansi-cyan    { color: #096; }
.color-theme-2 .ansi-blue    { color: #55f; }
.color-theme-2 .ansi-red     { color: #f55; }
.color-theme-2 .ansi-green   { color: #5f5; }
.color-theme-2 .ansi-yellow  { color: #ff5; }
.color-theme-2 .ansi-magenta { color: #f5f; }
.color-theme-2 .ansi-cyan    { color: #5ff; }
